.lawn {
	position: absolute;
  left: 0;
  width: 100%;

}
.soil {
  height: 10px;
  background-color: SaddleBrown;
  position: absolute;
  left: 0;
  width: 100%;
}


.blade {
	width: 1.5%;
	height: 2px;
	background-color: green;
	float: left;
	margin-right: .4%;
	bottom: 10px;
	padding-bottom: 0px;

}



